@using MultipleChoiceTest.Domain.Constants
@using MultipleChoiceTest.Domain.ModelViews
@model ExamResultItem

@{
    List<CandidateAnswer> answers = ViewData["ListAnswer"] as List<CandidateAnswer>;
}

<ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
    <li class="home"><em class="fa fa-lg fa-home">&nbsp;</em><a href="/Home/Index" title="Trang chủ"><span itemprop="name">Trang nhất</span></a><i class="hidden" itemprop="position" content="1"></i></li>
    @* <li><a href="/Exams/InfoExamBySubject?subjectId=@Model?.SubjectId" itemprop="item" title="@Model?.SubjectName"><span itemprop="name">@Model?.SubjectName</span></a><i class="hidden" itemprop="position" content="3"></i></li>
    <li><a href="/Exams/InfoExamByLesson?lessonId=@Model?.LessonId" itemprop="item" title="@Model?.LessonName"><span itemprop="name">@Model?.LessonName</span></a><i class="hidden" itemprop="position" content="4"></i></li> *@
    <li><a href="#" itemprop="item" title="@Model.ExamName"><span itemprop="name">@Model.ExamName</span></a><i class="hidden" itemprop="position" content="5"></i></li>
</ol>
<div class="row">
    <div class="col-md-9">
        <div class="content">
            <div class="content-heading row">
                <div class="col-md-4 sticky-exams">
                    <div class="template2">
                        <h1>@Model.ExamName</h1>
                        <ul class="exam-info">
                            <li><label>Số câu</label>: @Model.TotalQuestions</li>
                            <li><label>Thời gian</label>: @Model.Duration phút</li>
                            <li><label>Họ và tên</label>: @ViewData["Username"]</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="testing test-gird m-bottom">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Kết quả</div>
                                    <div class="panel-body">
                                        <div class="row exam-result">
                                            <div class="col-md-9">
                                                <ul class="exam-info">
                                                    <li><label>Số câu đúng</label>: @Model.CorrectAnswersCount</li>
                                                    <li><label>Số câu sai</label>: @Model.IncorrectAnswersCount</li>
                                                    <li><label>Số câu chưa làm</label>: @Model.UnansweredQuestionsCount</li>
                                                    <li><label>Xếp loại</label>: @Model.Rank</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 text-center score-box">
                                                <p>Điểm</p>
                                                <span class="score">@Model.Score</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="" method="post" id="frm-submit">
                            <input type="hidden" value="83" name="exam_id">
                            <div id="questionlist" data-exam-id="83" class="m-bottom">

                                @foreach (var item in ViewData["ListQuestion"] as List<QuestionItem>)
                                {
                                    var answer = answers.SingleOrDefault(x => x.QuestionIndex == item.Index);
                                    <div id="question_@item.Index" class="listquestion question-box d-none">
                                        <div class="panel panel-default question-item @(answer.IsCorrect == true ? "is_success" : "is_danger")" data-question-number="1">
                                            <div class="panel-body">
                                                <div class="question">
                                                    <strong class="text-red m-bottom">
                                                        Câu hỏi @item.Index.
                                                    </strong>
                                                    @if (item.QuestionTypeId == (int)QuestionTypeConstant.Type.MultipleChoice || item.QuestionTypeId == (int)QuestionTypeConstant.Type.Essay)
                                                    {
                                                        <span style="">
                                                            @item.QuestionText
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <div style="display: block">
                                                            <audio controls>
                                                                <source src="~/Audios/@item.AudioFilePath" />
                                                            </audio>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="row answer">
                                                    @if (item.QuestionTypeId == (int)QuestionTypeConstant.Type.MultipleChoice || item.QuestionTypeId == (int)QuestionTypeConstant.Type.Audio)
                                                    {
                                                        <div class="flex">
                                                            @foreach (var choice in item.Choices.Split(";"))
                                                            {
                                                                <div class="answer-item col-md-6">
                                                                    <label class="@(choice.Split(":")[0].Trim() == item.CorrectAnswer ? "istrue" : "")">
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="letter">
                                                                                        <p>
                                                                                            <input class="radio_answer_@item.Index" type="radio" name="answer[@item.Index]" value="@choice.Split(":")[0].Trim()" data-questiontype="@item.QuestionTypeId" @(choice.Split(":")[0].Trim() == answer.AnswerText ? "checked" : "") disabled>
                                                                                            <strong>@(choice.Split(":")[0].Trim()).</strong>
                                                                                        </p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <span>@choice.Split(":")[1].Trim()</span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </label>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="istrue">
                                                            <textarea class="textarea-answer" name="answer[@item.Index]" data-questiontype="@item.QuestionTypeId" readonly>@item.AnswerExplanation</textarea>
                                                        </div>
                                                        <div>
                                                            <textarea class="textarea-answer" name="answer[@item.Index]" data-questiontype="@item.QuestionTypeId" readonly>@answer.AnswerText</textarea>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="text-center clear">
                                    <button type="button" class="btn btn-danger item-prev" title="Trước đó" style="display:none">
                                        <span>Trước đó</span>
                                    </button>
                                    &nbsp;
                                    <button onclick="next_question();" type="button" class="btn btn-primary item-next" title="Kế tiếp">
                                        <span class="btn-label">Kế tiếp</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div class="col-md-24">
                            <ul class="slides-vertical-pagination">
                                @for (int i = 1; i <= Model.TotalQuestions; i++)
                                {
                                    var answer = answers.SingleOrDefault(x => x.QuestionIndex == i);
                                    <li class="question_number @(answer.IsCorrect == true ? "is_success" : "is_danger")" id="question_number_@i">
                                        <span class="pagination-item-name" aria-hidden="true" data-value="@i">Câu&nbsp;@i</span>
                                    </li>
                                }
                                
                            </ul>
                        </div>
                        <div class="text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("UserInfo")
        @await Component.InvokeAsync("RightPage", new { type = "access" })
    </div>
</div>


@section Scripts {
    <script src="~/js/user/quiz_question.js"></script>
}