@using MultipleChoiceTest.Domain.ModelViews
@model List<ExamResultItem>
@{
    ViewData["Title"] = "Lịch sử thi";
}
<ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
    <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <em class="fa fa-lg fa-home">&nbsp;</em><a href="/vi/" itemprop="item" title="Trang nhất">
            <span itemprop="name">Trang nhất</span>
        </a><i class="hidden" itemprop="position" content="1"></i>
    </li>
    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a href="/vi/users/" itemprop="item" title="Lịch sử thi">
            <span itemprop="name">Lịch sử thi</span>
        </a><i class="hidden" itemprop="position" content="2"></i>
    </li>
</ol>
<div class="row">
    <div class="col-md-9">
        <div class="col-sm-18 col-md-18">
            <div class="panel panel-primary-two">
                <div class="panel-heading">
                    <div class="panel-heading-left clearfix">
                        <div class="icon-menu-left fl">&nbsp;</div>
                        <div class="icon-menu-right fr">&nbsp;</div>
                        <div class="title-block">
                            <span>LƯU Ý VỀ CHỨC NĂNG "LƯU LỊCH SỬ BÀI LÀM"</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h2><strong><span style="font-size:14px;">Hiện nay lịch sử thi ghi nhận rất lớn, để tránh trường hợp hệ thống bị quá tải thì Admin đã cập nhật một số quy định sau:&nbsp;</span></strong></h2><span style="font-size:14px;">1. Hệ thống chỉ lưu lịch sử bài làm với các đề thi dạng <strong><span style="color:rgb(192, 57, 43);">THI THỬ</span></strong>, không lưu các bài thi dạng <strong><span style="color:rgb(192, 57, 43);">LUYỆN THI</span></strong>.<br>2. Tất cả các lịch sử thi có thời hạn <strong><span style="color:rgb(192, 57, 43);">1 THÁNG</span></strong>&nbsp;về trước sẽ được xoá khỏi hệ thống.<br>3. Trường hợp <strong><span style="color:rgb(192, 57, 43);">CHUNG 1 ĐỀ</span></strong> thi thử, chỉ lưu bài được nộp<span style="color:rgb(192, 57, 43);">&nbsp;</span><strong><span style="color:rgb(192, 57, 43);">GẦN NHẤT</span></strong>.</span><br>&nbsp;
                </div>
            </div>

            <div class="content">
                <div class="content-heading row">
                    <h1 class="m-bottom">Lịch sử thi</h1>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-middle">
                            <colgroup>
                                <col width="50">
                                <col width="150">
                                <col width="150">
                                <col width="80">
                                <col width="110">
                                <col width="60">
                                <col width="60">
                                <col width="90">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center">Đề thi</th>
                                    <th class="text-center">Ngày làm bài</th>
                                    <th class="text-center">Điểm</th>
                                    <th class="text-center">Xếp loại trắc nghiệm</th>
                                    <th class="text-center">Đúng</th>
                                    <th class="text-center">Sai</th>
                                    <th class="text-center">Không TL</th>
                                </tr>
                            </thead>
                            <tbody id=" records_table">
                                @if(Model!= null && Model.Count > 0 )
                                {
                                    foreach(var item in Model)
                                    {
                                        <tr>
                                            <td scope="row" class="text-center">@item.Id</td>
                                            <td scope="row" class="text-center">@item.ExamName</td>
                                            <td scope="row" class="text-center">@item.CompletionTime</td>
                                            <td scope="row" class="text-center">@item.Score</td>
                                            <td scope="row" class="text-center">@item.Rank</td>
                                            <td scope="row" class="text-center">@item.CorrectAnswersCount</td>
                                            <td scope="row" class="text-center">@item.IncorrectAnswersCount</td>
                                            <td scope="row" class="text-center">@item.UnansweredQuestionsCount</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary-two">
            <div class="panel-heading">
                <div class="panel-heading-left clearfix">
                    <div class="icon-menu-left fl">&nbsp;</div>
                    <div class="icon-menu-right fr">&nbsp;</div>
                    <div class="title-block">
                        <span>Đăng nhập thành viên</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="content signed clearfix">
                    <div class="nv-info" style="display:none"></div>
                    <div class="userBlock">
                        <h3 class="text-center margin-bottom-lg">
                            <span class="lev-user text-normal margin-right">Tài khoản:</span>Tạ Đức Hoàn
                        </h3>
                        <div class="row margin-bottom-lg">
                            <div style="display: flex; gap: 20px;">
                                <div class="col-xs-8 text-center">
                                    <a title="" href="#">
                                        <img src="/assets/images/user_u.jpg" alt="Tạ Đức Hoàn"
                                             class="img-thumbnail bg-gainsboro" style="width: 50px; height: 50px; margin-top: 10px;">
                                    </a>
                                </div>
                                <div class="col-xs-16">
                                    <ul class="nv-list-item sm">
                                        <li class="active">
                                            <a href="/User/Index">Thông tin thành viên</a>
                                        </li>
                                        <li>
                                            <a href="/User/UserBasic">Thiết lập tài khoản</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="display: flex; gap: 90px;">
                                <div class="col-xs-16 small">
                                    <em class="fa fa-clock-o" title="Đăng nhập vào">&nbsp;</em>03/11, 00:36
                                </div>
                                <div class="col-xs-8 text-right">
                                    <button type="button" class="btn btn-default btn-sm active">
                                        <em class="fa fa-sign-out"></em>&nbsp;Thoát&nbsp;
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary-two">
            <div class="panel-heading">
                <div class="panel-heading-left clearfix">
                    <div class="icon-menu-left fl">&nbsp;</div>
                    <div class="icon-menu-right fr">&nbsp;</div>
                    <div class="title-block">
                        <span>Thống kê truy cập</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="nv-list-item">
                    <li>
                        <em class="fa fa-bolt fa-lg">&nbsp;</em> Đang truy cập <span class="pull-right">78</span>
                    </li>
                    <li>
                        <em class="fa fa-user fa-lg">&nbsp;</em> Thành viên online <span class="pull-right">9</span>
                    </li>
                    <li>
                        <em class="fa fa-bullseye fa-lg">&nbsp;</em> Khách viếng thăm <span class="pull-right">69</span>
                    </li>
                </ul>
                <div class="nv-hr">&nbsp;</div>
                <ul class="nv-list-item">
                    <li>
                        <em class="fa fa-filter fa-lg">&nbsp;</em> Hôm nay <span class="pull-right">510</span>
                    </li>
                    <li>
                        <em class="fa fa-calendar-o fa-lg">&nbsp;</em> Tháng hiện tại <span class="pull-right">31,911</span>
                    </li>
                    <li>
                        <em class="fa fa-bars fa-lg">&nbsp;</em> Tổng lượt truy cập <span class="pull-right">17,275,125</span>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>