@using MultipleChoiceTest.Domain.ModelViews
@model ExamItem
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
    <li class="home"><em class="fa fa-lg fa-home">&nbsp;</em><a href="/vi/" title="Trang chủ"><span itemprop="name">Trang nhất</span></a><i class="hidden" itemprop="position" content="1"></i></li>
    <li><a href="" itemprop="item" title="@Model.SubjectName"><span itemprop="name">@Model.SubjectName</span></a><i class="hidden" itemprop="position" content="3"></i></li>
    <li><a href="" itemprop="item" title="@Model.LessonName"><span itemprop="name">@Model.LessonName</span></a><i class="hidden" itemprop="position" content="4"></i></li>
    <li><a href="" itemprop="item" title="@Model.ExamName"><span itemprop="name">@Model.ExamName</span></a><i class="hidden" itemprop="position" content="5"></i></li>
</ol>
<div class="row">
    <div class="col-md-9">
        <div class="content">
            <div class="content-heading row">
                <div class="modal fade modal-fullscreen " id="alert-not-in-site" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-xs" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h3 class="modal-title">Thông báo!</h3>
                            </div>
                            <div class="modal-body">
                                <div style="padding:20px 10px; border: 1px solid #9d9797; border-radius: 4px">
                                    <p>
                                        Bạn không phải Thành viên chính thức nên khi tham gia thi sẽ không
                                        lưu lại Kết quả và Lịch sử thi!
                                    </p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-success">
                                    Đồng ý
                                </a>
                                <button type="button" class="btn btn-warning" data-dismiss="modal">
                                    Bỏ qua
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade modal-fullscreen " id="test-submit-confirm" tabindex="-1"
                     role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-xs" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h3 class="modal-title">Thông báo!</h3>
                            </div>
                            <div class="modal-body">
                                <div style="padding:20px 10px; border: 1px solid #9d9797; border-radius: 4px">
                                    <p id="test-submit-confirm-msg"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="submit-button" type="button" class="btn btn-primary">
                                    Đồng ý
                                </button>
                                <button type="button" class="btn" data-dismiss="modal">Bỏ qua</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade modal-fullscreen " id="nv-test-exit" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-xs" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h3 class="modal-title">Thông báo!</h3>
                            </div>
                            <div class="modal-body">
                                <div style="padding:20px 10px; border: 1px solid #9d9797; border-radius: 4px">
                                    <p>
                                        Hành động này sẽ xóa tất cả các đáp án bạn đã chọn. Bạn có chắc chắn
                                        muốn thoát khỏi đề thi?
                                    </p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-success" href="javascript:void(0)">
                                    Đồng ý
                                </a>
                                <button type="button" class="btn btn-warning" data-dismiss="modal">
                                    Bỏ
                                    qua
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="quiz-game-info-guest" role="dialog">
                    <form action="#" method="post">
                        <div class="modal-dialog modal-xs" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h3 class="modal-title">Nhập thông tin</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="ho_va_ten"
                                               placeholder="Họ và tên">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="dien_thoai"
                                               placeholder=" Điện thoại">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Đồng ý</button>
                                    <button type="buttom" class="btn btn-warning" data-dismiss="modal">
                                        Bỏ
                                        qua
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="breadcrumbs_mobile" class="col-xs-24 col-sm-24 box-coll hidden-lg hidden-md ">
                    <div class="col-xs-20 col-sm-20 title"></div>
                </div>
                <div class="row detail test-gird">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 sticky-exams">
                                <div class="template2">
                                    <h1>@Model.ExamName</h1>
                                    <ul class="exam-info">
                                        <li><label>Số câu</label>: @Model.TotalQuestions</li>
                                        <li><label>Thời gian</label>: @Model.Duration phút</li>
                                        <li><label>Họ và tên</label>: @ViewData["Username"]</li>
                                    </ul>
                                </div>
                                <div class="template2">
                                    <button class="btn btn-success m-bottom" id="btn-save" style="display: none;">
                                        Lưu đề
                                        thi
                                    </button>
                                    <button class="btn btn-primary m-bottom" id="btn-start">
                                        Bắt đầu làm bài
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Hướng dẫn làm bài</div>
                                    <div class="panel-body">
                                        <span style="font-size:14px;">
                                            1. Đợi đến khi đến
                                            thời gian làm bài<br>
                                            2. Click vào nút "<strong>Bắt đầu làm bài</strong>" để tiến hành
                                            làm bài thi<br>
                                            3. Ở mỗi câu hỏi, chọn đáp án đúng<br>
                                            4. Hết thời gian làm bài, hệ thống sẽ tự thu bài. Bạn có thể nộp
                                            bài trước khi thời gian kết thúc bằng cách nhấn
                                            nút&nbsp;<strong>Nộp bài</strong>
                                        </span><br>
                                        <br>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("UserInfo")

        @await Component.InvokeAsync("RightPage", new {type = "access"})

    </div>
</div>