@using MultipleChoiceTest.Domain.ModelViews
@model Pagination<ExamItem>
@{
    ExamItem? examFirst = Model.Items.FirstOrDefault();
    ViewData["Title"] = examFirst?.LessonName;
    int? PageIndex = ViewData["PageIndex"] as int?;
}

<ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
    <li class="home"><em class="fa fa-lg fa-home">&nbsp;</em><a href="/Home/Index" title="Trang chủ"><span itemprop="name">Trang nhất</span></a><i class="hidden" itemprop="position" content="1"></i></li>
    <li><a href="/Exams/InfoExamBySubject?subjectId=@examFirst?.SubjectId" itemprop="item" title="@examFirst?.SubjectName"><span itemprop="name">@examFirst?.SubjectName</span></a><i class="hidden" itemprop="position" content="3"></i></li>
    <li><a href="/Exams/InfoExamByLesson?lessonId=@examFirst?.LessonId" itemprop="item" title="@examFirst?.LessonName"><span itemprop="name">@examFirst?.LessonName</span></a><i class="hidden" itemprop="position" content="4"></i></li>
</ol>

<div class="row">
    <div class="col-md-9">
        <div class="content">
            <div class="content-heading">
                <div class="exam">
                    <h1 class="hidden-xs hidden-sm">@examFirst.LessonName</h1>
                    <hr style="margin-top: 0;">
                    <div class="exam viewlist">
                        @if (Model.Items != null && Model.Items.Count > 0)
                        {
                            foreach (var item in Model.Items)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2>
                                            <a href="/Exams/InfoExam?id=@item.Id" title="@item.ExamName">
                                                <strong>
                                                    @item.ExamName
                                                </strong>
                                            </a>
                                        </h2>
                                        <ul class="exam-info css-exam-info list-inline form-tooltip">
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Số câu">
                                                <i class="fa-regular fa-heart"></i>&nbsp;@item.TotalQuestions<span class="hidden-xs">
                                                    câu hỏi
                                                </span>
                                            </li>
                                            <li class="pointer" data-toggle="tooltip"
                                                data-original-title="Thời gian">
                                                <i class="fa-regular fa-clock"></i>&nbsp;@item.Duration<span class="hidden-xs">
                                                    phút
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="list-inline help-block">
                                            <li><i class="fa-regular fa-clock"></i>&nbsp; @item.CreatedDate?.ToString("HH:mm dd/MM/yyyy")</li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="text-center">
                        <ul class="pagination">
                            @if (!Model.Previous)
                            {
                                <li class='disabled'>
                                    <a href="javascript:void(0)">«</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Exams/Index?pageIndex=@(Model.PageIndex - 1)">«</a>
                                </li>
                            }
                            @for (int i = 0; i < Model.TotalPagesCount; i++)
                            {
                                <li class="@(i == Model.PageIndex ? "active" : "")"><a href="/">@(i + 1)</a></li>
                            }

                            @if (!Model.Next)
                            {
                                <li class='disabled'>
                                    <a href="javascript:void(0)">»</a>
                                </li>
                            }
                            else
                            {
                                <li rel="next" title="">
                                    <a href="/Home/Index?pageIndex=@(Model.PageIndex + 1)">»</a>
                                </li>
                            }
                            @* <li><a class='@(!Model.Next ? "disabled" : "")' rel="next" title="" href="">»</a></li> *@
                            @* <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a rel="next" title="Trắc nghiệm - Trang 2" href="/vi/test/page-2/">2</a></li>
                            <li class="disabled"><span>...</span></li>
                            <li><a rel="next" title="Trắc nghiệm - Trang 37" href="/vi/test/page-37/">37</a></li> *@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("RightPage", new { type = "ranking" })
        @await Component.InvokeAsync("RightPage", new { type = "access" })
    </div>
</div>
