@using MultipleChoiceTest.Domain.ModelViews
@model Pagination<ExamItem>
@{
    ViewData["Title"] = "Home Page";
    int? PageIndex = ViewData["PageIndex"] as int?;
}

<div class="row">
    <div class="col-md-9">
        <div class="content">
            <div class="content-heading">
                <div class="exam">
                    <div class="exam viewlist">
                        @if (Model.Items != null && Model.Items.Count > 0)
                        {
                            foreach (var item in Model.Items)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2>
                                            <a href="#"
                                               title="@item.ExamName">
                                                <strong>
                                                    @item.ExamName
                                                </strong>
                                            </a>
                                        </h2>
                                        <ul class="exam-info css-exam-info list-inline form-tooltip">
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Số câu">
                                                <i class="fa-regular fa-heart"></i>&nbsp;@item.TotalQuestions<span class="hidden-xs">
                                                    câu hỏi
                                                </span>
                                            </li>
                                            <li class="pointer" data-toggle="tooltip"
                                                data-original-title="Thời gian">
                                                <i class="fa-regular fa-clock"></i>&nbsp;@item.Duration<span class="hidden-xs">
                                                    phút
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="list-inline help-block">
                                            <li><i class="fa-regular fa-clock"></i>&nbsp; @item.CreatedDate?.ToString("HH:mm dd/MM/yyyy")</li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="text-center">
                        <ul class="pagination">
                            @if (!Model.Previous)
                            {
                                <li class='disabled'>
                                    <a href="javascript:void(0)">«</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Home/Index?pageIndex=@(Model.PageIndex - 1)">«</a>
                                </li>
                            }
                            @for (int i = 0; i < Model.TotalPagesCount; i++)
                            {
                                <li class="@(i == Model.PageIndex ? "active" : "")"><a href="/">@(i + 1)</a></li>
                            }

                            @if (!Model.Next)
                            {
                                <li class='disabled'>
                                    <a href="javascript:void(0)">»</a>
                                </li>
                            }
                            else
                            {
                                <li rel="next" title="">
                                    <a href="/Home/Index?pageIndex=@(Model.PageIndex + 1)">»</a>
                                </li>
                            }
                            @* <li><a class='@(!Model.Next ? "disabled" : "")' rel="next" title="" href="">»</a></li> *@
                            @* <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a rel="next" title="Trắc nghiệm - Trang 2" href="/vi/test/page-2/">2</a></li>
                            <li class="disabled"><span>...</span></li>
                            <li><a rel="next" title="Trắc nghiệm - Trang 37" href="/vi/test/page-37/">37</a></li> *@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("RightPage")
    </div>
</div>
