@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using MultipleChoiceTest.Domain.ModelViews
@model UserItem
<div class="container">
    <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
        <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <em class="fa fa-lg fa-home">&nbsp;</em><a href="/vi/" itemprop="item" title="Trang nhất"><span itemprop="name">Trang nhất</span></a><i class="hidden" itemprop="position" content="1"></i>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/vi/users/" itemprop="item" title="thông tin tài khoản">
                <span itemprop="name">Tài khoản sinh viên</span>
            </a><i class="hidden" itemprop="position" content="2"></i>
        </li>
    </ol>
    <div class="row">
        <div class="col-md-9">
            <div class="content">
                <div class="content-heading row">
                    <div class="page panel panel-default">
                        <div class="panel-body">
                            <h2 class="margin-bottom-lg">Thông tin tài khoản</h2>
                            <div class="row">
                                <div style="display: flex;">
                                    <figure onclick="changeAvatar('/vi/users/avatar/upd/');" class="avatar left pointer">
                                        <div style="width:80px; margin-top: 10px;">
                                            <p class="text-center"><img src="/assets/images/user_u.jpg" alt="taduchoan" title="taduchoan" width="80" class="img-thumbnail bg-gainsboro m-bottom"></p>
                                        </div>
                                    </figure>
                                    <div>
                                        <ul class="nv-list-item xsm" style="margin-left: 20px;">
                                            <li><em class="fa fa-angle-right">&nbsp;</em> Tài khoản: <strong>@Model.AccountName</strong> (@Model.Email)</li>
                                            <li><em class="fa fa-angle-right">&nbsp;</em> Đăng nhập theo kiểu thông thường</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive margin-bottom-lg">
                        <table class="table table-bordered table-striped">
                            <colgroup>
                                <col style="width:45%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>Họ tên</td>
                                    <td>@Model.AccountName</td>
                                </tr>
                                <tr>
                                    <td>Ngày tháng năm sinh</td>
                                    <td>@Model.DateOfBirth</td>
                                </tr>
                                <tr>
                                    <td>Giới tính</td>
                                    <td>@Model.Gender</td>
                                </tr>
                                <tr>
                                    <td>Hiển thị email</td>
                                    <td>@Model.Email</td>
                                </tr>
                                <tr>
                                    <td>Ngày tham gia</td>
                                    <td>@Model.CreatedDate</td>
                                </tr>
                                <tr>
                                    <td>Lần truy cập trước</td>
                                    <td>@Model.UpdatedDate</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/vi/users/editinfo/"><em class="fa fa-caret-right margin-right-sm" style="margin-right: 10px;"></em>Thiếp lập tài khoản</a></li>
                        <li><a href="/vi/users/logout/"><em class="fa fa-caret-right margin-right-sm" style="margin-right: 10px;"></em>Thoát</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            @await Component.InvokeAsync("UserInfo")
            @await Component.InvokeAsync("RightPage", new {Type = "access"})
        </div>
    </div>
</div>